In [ ]:
a=['apple','banana','orange']
b=[1,2,3,4,5]
c=['apple',1,2,3,]
d=list('apple')
print(a)
print(b)
print(c)
print(d)

['apple', 'banana', 'orange']
[1, 2, 3, 4, 5]
['apple', 1, 2, 3]
['a', 'p', 'p', 'l', 'e']

In [ ]:
a=dict(name='ooxx',age=18,eat=['apple','banana'])
print(type(a))

<class 'dict'>

In [ ]:
a=2
b=3
if(a<b):
  print('a<b');
  if a==1:
     print('a=1');
  elif a==2:
     print('a=2');
  elif a==3:
     print('a=3');

elif(a>b):
  print('a>b');
else:
  print(a=b);
print('ok');

a<b
a=2
ok

In [ ]:
for a in ['x','y','z']:
  for b in [1,2,3]:
    print(b)
print(a)

1
2
3
1
2
3
1
2
3
z

In [ ]:
for a in ['x','y','z']:
  for b in [1,2,3]:
    print(f'{a}{b}')

x1
x2
x3
y1
y2
y3
z1
z2
z3

In [ ]:
i=[]
for t in range(10):
  t+=1;
  i.append(t)
i#做十次，從尾部加數字

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
a=input('輸入數字:')
  c=a+1
  print(c)#這裡出現問題，輸入屬於文字

輸入數字:5

TypeError: can only concatenate str (not "int") to str

In [ ]:
try:

  a=input('輸入數字:')
  c=a+1
  print(c)
except:
  pass
print('hello')#因上問題導致此處即使輸入數字也被判定為文字

輸入數字:5
hello

In [ ]:
try:

  a=int(input('輸入數字:'))
  print(a+1)
except:
  pass
print('hello')#解決辦法為強制轉型為int型態

In [ ]:
a=[]
for i in range(1,10):
  a.append(i*i)
 # print(a)這行註解掉，免去過程
b=[j*j for j in range(1,10)]
print(b)

[1, 4, 9, 16, 25, 36, 49, 64, 81]